.introduce {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.introduce .intro-item {
  width: 30%;
}

.introduce .intro-item .icon img {
  width: 45px;
}

.introduce .intro-item .title {
  font-size: 20px;
  margin-top: 10px;
}

.introduce .intro-item .content {
  line-height: 1.5;
  color: #8b9ebb;
  margin-top: 15px;
}

@media only screen and (max-width: 768px){
  .introduce{
    display: flex;
    flex-direction: column-reverse;
 }

 .introduce .intro-item{
   width: 100%;
   padding-top: 30px;
 }
}
