.welcome {
  display: flex;
  align-items: center;
  margin-top: 100px;
  
}

.welcome .content {
  width: 50%;
}

.welcome .content .title p {
  padding: 3px;
}


.welcome .content .button {
  padding-top: 70px;
}

.welcome .content .button a {
  padding: 20px 30px;
  border-radius: 10px;
  display: inline-block;
}

.welcome .content .button a:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.welcome .content .button .dark {
  background-color: #335eea;
  color: white;
  margin-right: 5px;
}

.welcome .content .button .dark i{
  padding-left: 10px;
}

.welcome .content .button .dark:hover {
  background-color: #1746e0;
}

.welcome .content .button .light {
  background-color: rgba(51, 94, 234, 0.1);
  color: #335eea;
}
.welcome .content .button .light:hover {
  background-color: rgba(51, 94, 234, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
}

.welcome .image {
  width: 50%;
 
}

.welcome .image img {
  width: 129%;
}

@media only screen and (max-width: 992px){
  .welcome .content{
    width: 60%;
  }

  .welcome .image{
    width: 40%;
  }
  .welcome .image img {
    width: 123%;
  }
  .welcome .content .button {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 768px){
.welcome{
  flex-direction: column-reverse;
}

.welcome .content{
  width: 100%;
}

.welcome .image{
  width: 100%;
}

.welcome .image img{
  width: 100%;
}

.welcome .content{
  text-align: center;
}

.welcome .content .button .dark i{
  display: none;
}
}