.wrapper-customer{
    background-color: #f1f1f1;
    padding-top: 100px;
}

.customer .title {
    text-align: center;
}

.customer .title .text2{
    margin: 20px 0px 60px;
}

.customer .slide-wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.customer .slide .child{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    width: 940px;
    height: 400px;
}

.customer .slide .image{
    width: 50%;
    height: inherit;
}

.customer .slide .image img{
    width: 100%;
    height: inherit;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    object-fit: cover;
}

.customer .slide .content {
    text-align: center;
    padding: 0px 50px;
}

.customer .slide .content .branch img{
    width: 150px;
}

.customer .slide .content .content-text{
    font-size: 18px;
    line-height: 2;
    margin: 30px 0px ;
}

.customer .slide .content .name{
    color: #8b8b8b;
    font-size: 14px;
}


.customer .slide .content{
    width: 50%;
}

.customer .arrow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.customer .arrow button{
    border-radius: 30px;
    padding: 5px;
    background-color: #335eea;
    width: 50px;
    height: 50px;
    border: none;
}

.customer .arrow  .previous{
    margin-left: -25px;
}

.customer .arrow .next{
    margin-right: -25px;
}

.customer .arrow i{
    color: white;
    font-weight: 100;
}


/* /////////////////////////////////////////////////////////// */

.slide-list{
    width: 1000px;
    overflow: hidden;
    margin: auto;
}

.slide-track{
    display: flex;

}

.slide-item {
    width: 1000px;
    /* height: 300px; */
}

.dots{
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.dots .dot-item{
    padding: 10px;
    color: #8b8b8b;
}

.dots .active{
    color: #335eea;
}



/* ////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 992px){
    .customer .slide .child{
        width: 660px;
    }
}


@media only screen and (max-width: 768px){
    .customer .slide .child {
        flex-direction: column;
        height: auto;
        width: 480px;
    }

    .customer .slide .image{
        width: 100%;
    }

    .customer .slide .image img{
        border-radius: 0px;
    }

    .customer .slide .content{ 
        width: 100%;
        padding: 20px 20px;
    }

    .customer .arrow {
        bottom: 95px;
    }

    .customer .slide .content .branch img{
        width: 120px;
    }
    
}

@media only screen and (max-width: 576px){
    .customer .slide .child{
        width: calc(100vw - 75px) !important;
    }
}


