.wrapper-business{
    background-color: #f1f4f8;
    padding-top: 100px;
}

.business{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.business .content{
    width: 50%;
}


.business .content .data{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.business .content .data .data-item{
    border-right: 1px solid #d9e2ef;
    padding:  0px 20px;
}

.business .content .data .data-item:first-child{
    padding-left: 0px;
}

.business .content .data .data-item:last-child{
    border: none;
}

.business .content .data .data-item .number{
    font-size: 22px;
    padding-bottom: 10px;
}

.business .content .data .data-item .object{
    font-size: 16px;
    color: #8b9ebb;
}

.business .image{
    width: 50%;
}

.business .image img{
    width: 100%;
}

@media only screen and (max-width: 992px){
    .business .image{
        width: 40%;
    }
    .business .content{
        width: 60%;
    }
    .business .content .data .data-item .number{
        font-size: 18px;
    }
       
}

@media only screen and (max-width: 768px){
    .business{
        flex-direction: column-reverse;
    }

    .business .content{
        padding-top: 20px;
        width: 100%;
    }

    .business .image{
        width: 100%;
    }
}