body {
  margin: 10px 0px !important;
  font-family: sans-serif;
}

.container {
  margin: 0px 180px;
}

li {
  list-style: none;
}

h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .btn-header a {
  background-color: #007bff;
  padding: 15px 20px;
  border-radius: 7px;
  color: white;
  font-weight: 600;
  display: block;
}

.header .btn-header a:hover {
  color: white;
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.header a {
  color: black;
  text-decoration: none;
}

.header a:hover {
  color: #335eea;
  text-decoration: none;
}

.header .dropdown {
  padding: 0px;
  display: flex;
  margin: 0px;
}

.header .dropdown > li > p {
  font-weight: 600;
  color: #506690;
}

.header .dropdown li {
  padding: 20px;
}

.header .dropdown .menu-content {
  display: none;
  position: absolute;
  z-index: 2;
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
}

.header .dropdown .menu-content .wrap {
  display: flex;
  border-radius: 10px;
  height: 293px;
}

.header .dropdown .menu-content .picture {
  background-image: linear-gradient(
      rgba(34, 114, 227, 0.8),
      rgba(34, 114, 227, 0.8)
    ),
    url(images/photo-3.jpg);
  background-size: cover;
  padding: 80px 60px;
  color: white;
  width: max-content;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header .dropdown .menu-content .picture .pic-content {
  text-align: center;
}

.header .dropdown .menu-content .picture .pic-btn {
  width: fit-content;
  margin: 0 auto;
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  background-color: white;
}
.header .dropdown .menu-content .picture .pic-btn a {
  color: #335eea;
}

.header .dropdown .menu-content .menu-item-wrap {
  padding: 20px;
}

.header .dropdown .menu-content .menu-item {
  display: flex;
}

.header .dropdown .menu-content .menu-item .item-left .left-top {
  padding-bottom: 15px;
}

.header .dropdown .menu-content .menu-item .item-right {
  padding-right: 25px;
}

.header .dropdown .menu-content .menu-item ul {
  padding: 5px 0px;
}

.header .dropdown .menu-content .menu-item li {
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header .dropdown .menu-content .menu-item li:last-child .doc-item {
  border: none;
}

.header .dropdown .menu-content .menu-item li:first-child .doc-item {
  padding-top: 20px;
}

.header .dropdown .menu-content .menu-item .doc-item .version {
  border-radius: 10px;
  padding: 5px;
  background-color: #d4e1f9;
  margin-left: 40px;
}

.header .dropdown .menu-content .doc-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 8px 10px 20px;
  width: 100%;
}

.header .dropdown .menu-content .doc-item .doc-icon i {
  font-size: 30px;
  color: #b2c6ea;
  padding-right: 20px;
}

.header .dropdown .menu-content .doc-item .doc-content p {
  margin: 0px;
  color: black;
  padding-top: 10px;
}

.header li:hover {
  color: #335eea;
}

.header li:hover > .menu-content {
  display: block;
}

.header .dropdown .menu-content .menu-item .sub-menu {
  display: none;
  width: 100%;
  position: absolute;
  left: 239px;
  top: -6px;
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
  background-color: white;
  border-radius: 10px;
}

.header .dropdown .menu-content .menu-item .item {
  padding: 10px 25px;
}

.header .dropdown .menu-content .menu-item .item i {
  margin-left: 70px;
  color: black;
}

.header .dropdown .menu-content .menu-item li:hover > .sub-menu {
  display: block;
}

.header .dropdown .menu-content .menu-item li:hover i {
  color: #335eea;
}
